<a href="https://colab.research.google.com/github/honeybeat1/klue-sts/blob/main/%EA%B8%B0%EC%97%85%EA%B3%BC%EC%A0%9C3_8%ED%8C%80_dev_set_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import sys
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
dev_set_score = pd.read_csv('/content/drive/MyDrive/data/기업과제3_8팀_dev_set_score.csv')
dev_set_score

,guid,true_real_label,true_binary_label,predict_real_label,predict_binary_label
0,klue-sts-v1_dev_00000,4.857143,1,4.980749,1
1,klue-sts-v1_dev_00001,1.428571,0,2.145419,0
2,klue-sts-v1_dev_00002,1.285714,0,1.488101,0
3,klue-sts-v1_dev_00003,3.714286,1,4.164298,1
4,klue-sts-v1_dev_00004,2.500000,0,3.016868,1
...,...,...,...,...,...
514,klue-sts-v1_dev_00514,2.200000,0,3.660266,1
515,klue-sts-v1_dev_00515,2.833333,0,3.013463,0
516,klue-sts-v1_dev_00516,0.333333,0,1.506227,0
517,klue-sts-v1_dev_00517,0.333333,0,0.609422,0
518,klue-sts-v1_dev_00518,2.857143,0,3.017922,1

In [ ]:
# Pearsonr score 계산
from scipy import stats
stats.pearsonr(dev_set_score['true_real_label'], dev_set_score['predict_real_label'])

(0.9329595532617194, 1.484811088529504e-231)

In [ ]:
# f1 score 계산
from sklearn.metrics import f1_score
f1_score(dev_set_score['true_binary_label'], dev_set_score['predict_binary_label'])

0.7283464566929134